<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js" type="module"></script>
    <link rel="stylesheet" href="style.css">
    <title>Code Playground</title>
</head>

<body>
  <h2>Silent Escape</h2>

  <p id="status">Swipe A → L</p>
  <p id="progress">Progress: 0 / 3</p>
  <p id="logg"></p>

  <div id="door">
   <div id="keyhole"></div>
   <p id="doorText"></p>
 </div>

 <div id="thing0" class="thing"></div>

</body>

</html>